
@{
    ViewBag.Title = "TabelDelete";
}
@model MySQLToolWeb.Models.tb_tabel
<div class="modal fade" id="myModalNorm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                @using (Html.BeginForm("", "", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", @id = "frmId" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.NAMA, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.NAMA, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.NAMA, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Simpan" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/flexigrid")
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
    $(document).ready(function () {
        $("#flex1").flexigrid
            (
                {
                    url: BaseUrl + "/Master/DeleteLIST/",
                    dataType: 'json',
                    singleSelect: true,
                    colModel: [
                    //PLU, MERK, DESKRIPSI, SATUAN, KETERANGAN, UPD
                    { display: 'NAMA', name: 'NAMA', width: 450, sortable: true, align: 'center' },
                    { display: 'UPD', name: 'UPD', width: 100, sortable: true, align: 'center' },

                    ],
                    searchitems: [
                            { display: 'NAMA', name: 'NAMA' }
                    ],
                    //fa fa-plus-square
                    buttons: [
		            { name: 'Add', bclass: 'fa fa-plus-square fa-lg', onpress: action },
		            { name: 'Delete', bclass: 'fa fa-trash-o fa-lg', onpress: action },
		            { separator: true }
                    ],
                    onSuccess   : gridFormat,
                    sortname: "NAMA",
                    sortorder: "asc",
                    usepager: true,
                    title: 'DATA TABEL DELETE',
                    useRp: true,
                    rp: 15,
                    showTableToggleBtn: true,
                    width: 200,
                    height: 400
                }
            );
    });
    function action(com, grid) {
        if (com == 'Delete') {
            status = "Delete";
            bootbox.confirm("Apakah Data Mau di hapus?", function (result) {
                if (result == true) {
                    $('.trSelected', grid).each(function () {
                        var id = $(this).attr('id');
                        id = id.substring(id.lastIndexOf('row') + 3);
                        var forgeryId = $("#forgeryToken").val();
                        var data = '{NAMA: "' + id + '"}';
                        POSTAjax("Master/DeleteDEL", data, forgeryId);
                        Reload();
                    });
                }
            });
        } else if (com == 'Add') {
            status = "Add";
            $('#myModalNorm').modal('show');
            $('#myModalNorm').find('form')[0].reset();
        } else if (com == 'Edit') {
            $('.trSelected', grid).each(function () {
                status = "Edit";
                $('#KODE').val($('.trSelected td:eq(0)').text());
                $('#NAMA').val($('.trSelected td:eq(1)').text());
                $('#myModalNorm').modal('show');
            });
        }
    }
    function procMe(celDiv, id) {
        //$(celDiv).html(id);
        //alert($('.trSelected td:first-child div').text());
    };
    function gridFormat() {

        $('#flex1 tr').each(function () {
            var cell = $('td[abbr="UPD"] >div', this);
            cell.text(parseJsonDate(cell.text()));
        });
        return true;
    }
    function getRow(id) {
        var td = document.getElementById('flex1').rows[id].cells;
        return td;
    }
    var status = "";
    function Reload()
    {
        $('#fntype').val('');
        $('#flex1').flexReload();
    }

    $('#frmId').submit(function () {
        //var val = $('#frmId').validate();
        if ($('#frmId').valid()) {
            var obj = $("#frmId").serializeToJSON();
            var forgeryId = $("#forgeryToken").val();
            var url = "";
            if (status == "Add") {
                url = "Master/DeleteADD";
            }
            var forgeryId = $("#forgeryToken").val();
            var response = POSTAjax(url, JSON.stringify(obj), forgeryId);
            if (response == "OK") {
                Reload();
                bootbox.alert("OK");
                $('#myModalNorm').modal('hide');
            }
        }
        return false;
    });
    </script>
}
<div>
    <table id="flex1" style="display:none" width="200"></table>
</div>

